# ========================
# PRITUNL CONFIG
# ========================
PRITUNL_BASE=
PRITUNL_TOKEN=your_api_token
PRITUNL_SECRET=your_api_secret
PRITUNL_ORG=
# ========================
# REDIS
# ========================
REDIS_HOST=
REDIS_PORT=

# ========================
# MQTT
# ========================
MQTT_HOST=
MQTT_PORT=

# ========================
# APP
# ========================
APP_PORT=
LOG_LEVEL=